#about{
	display: flex;
	padding: 5% 0 0 0;
	background: lighten(lightgrey, 25%);
	.wrapper{
		display: flex;
		flex-direction: column;
		justify-content: center;
		h2{
			margin-bottom: 0;
		}
		.blue{
			color: $nextBlue;
		}
		.about-text{
			background:url('/images/background_about.png') no-repeat 50% 50%;
			font-size: 1em;
			font-weight: 500;
			padding: 10% 20%;

			span{
				text-transform: uppercase;
			}	
		}
		
	}
	
}


/*=================================
	Media Queries
==================================*/


// Landscape Tablet 
@media (max-width: 1024px) {

	#about{
		display: flex;
		padding: 5% 0;
		.wrapper{
			display: flex;
			flex-direction: column;
			justify-content: center;
			h2{
				// text-align: left;
			}
			.blue{
				color: $nextBlue;
			}
			.about-text{
				// background:url('/images/background_about.png') no-repeat 50% 50%;
				font-size: 1em;
				// font-weight: 500;
				padding: 15% 20%;
				width: 
	
				span{
					text-transform: uppercase;
				}	
			}
			
		}
		
	}

}

// Landscape Phones and Tablet
@media (max-width: 767px) {
	.about-wrapper{
		padding: 20% 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	// align-items: center;
	h2{
		line-height: 1;
		font-style: italic;
		width: 100%;
		text-align: center;
		.blue{
			color: $nextBlue;
		}
	}
	.about-text{
		text-align: center;
		.highlight{
			text-align: center;
		}	
	}
	.buttons{
		width: 100%;

	}
}
    
}
 
// Landscape phones and down
@media (max-width: 480px) {
 
}
