#footer{
	.copyright, .credits{
		padding: 1%;
		p{
			font-size: 0.7em;
		}
		img{
			height: 40px;
			width: 40px;
			margin-right: 5px;
		}
		a:hover, a:focus, a:active{
			color: $nextBlack;
		}
	}
	.credits{
		justify-content: center;
		background: $nextBlue;
		.alignable-logo, .ccf-logo, .poc-logo{
			width: 5%;
			margin-right: 10px;
			img{
				width: 100%;
				height: auto;
			}
		}
		.ccf-logo{
			width: 20%;
		}
		.poc-logo{
			width: 4%;
		}
	}
	.copyright{
		background: darken($nextDarkBlue, 5%);
	}

}


// All Media Queries

// Landscape phones and tablet
@media (max-width: 768px) {

	#footer{
		.copyright{
			padding: 1%;
			p{
				width: 100%;
				text-align: center;
			}
			img{
				display: none;
			}
		}
		.credits{
			.alignable-logo{
				width: 10%;
			}
			.ccf-logo{
				width: 40%;
			}
			.poc-logo{
				width: 8%;
			}
		}
	}

}
 
// Landscape phones and down
@media (max-width: 480px) {
 
}
