.footer-consultation{
	background: $nextBlue;

}

.consult-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	h4{
		@include responsive-font(1.5vw, 12px, 28px);
		color: $nextWhite;
		font-family: 'Taviraj', serif;
		font-weight: 300;
		width: 70%;
	}
	.buttons{
		width: 30%;
		button{
			background:$nextWhite;
		    border: 0;
		    outline: 0;
		    padding: 10px 15px;
		    width: 100%;
		    // float: right;
		    border-radius: 5px;
		    margin: 5% 3%;
		    transition: all 0.5s ease 0s;
		    a{
				font-family: 'Taviraj', serif;
				font-weight: 300;
				font-style: italic;
		    	text-decoration: none;
		    	@include responsive-font(1vw, 10px, 26px);
			    color: $nextBlue;
			    letter-spacing: 1px;
		    }
		}
		button:hover{
			background: $nextDarkBlue;
			color: $nextWhite;
			outline: 0;
			a:hover{
				color: $nextWhite;
			}
		}
		button:active{
			background:$nextDarkBlue;
		}
	}
}