//main nav styles
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background: rgba(lighten(lightgrey, 8%), 0.9);
  border-bottom: 1px solid $nextBlue;
  position: fixed;
  z-index: 99;
  .header-logo{
    display: none;
    width: 50px;
    height: 50px;
    img{
      width: 100%;
    }
  }//header-logo
  .desktop-nav{
      padding: 1%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      li{
        list-style: none;
        margin-right: 20px;
        text-transform: uppercase;
        font-size: 0.9em;
        font-weight: 600;
        a{
          text-decoration: none;
          color: $nextBlack;
        }
        a:hover, a:focus{
          color: $nextBlue;
        }
        button{
          background: $nextBlue;
          padding: 5px 12px;
          border: none;
          outline: none;
          a{
            color: $nextWhite;
          }
        }
        button:hover, button:focus{
          background: $nextLightBlue;
          a{
            color: $nextWhite;
          }
        }
      }
    }//desktop-nav

}

//hamburger menu styles
.hamburger{
  display: none;
  border:0;
  font-size:2em;
  cursor:pointer;
  outline:none;
  z-index:99;
  background: transparent;
  color: $nextBlue;
}
.cross{
  background:none;
  margin:13px 0 0px 20px;
  border:0;
  font-size:5em;
  line-height:10px;
  cursor:pointer;
  outline:none;
  z-index:99;
  background: transparent;
  color: $nextBlue;
}
.cross:hover, .cross:focus, .cross:active, .hamburger:hover, .hamburger:focus, .hamburger:active{
  background: $nextWhite;
  color: $nextBlue;
}
.hammy-menu{
  display: none;
	z-index:1000000; 
	font-weight:bold; 
  width:100%; 
  background: rgba($nextWhite, 0.9);
  margin-top: -50px;
	// background:$goodWhite; 
	text-align:center; 
		margin: 0; 
		padding: 0; 
		list-style-type: none; 
		padding-bottom: 15px;
		li {
			display: block;   
			padding:15px 0 15px 0;
			a { 
				text-decoration:none;  
				margin: 0px; 
				color: $nextBlack;
			}
			a:hover, a:focus{
				color: $nextBlue;
      }
      button{
        background: $nextBlue;
        padding: 5px 12px;
        border: none;
        outline: none;
        a{
          color: $nextWhite;
        }
      }
      button:hover, button:focus{
        background: $nextLightBlue;
        a{
          color: $nextWhite;
        }
      }
    }
    .flex{
      button{
        margin-right: 5px;
      }
    }
	}



// All Media Queries

// Landscape phones and tablet
@media (max-width: 768px) {

	nav{
    padding: 0 10px; 
		.header-logo{
      display: inline-block;
		}
		.desktop-nav{
			display: none;
		}
  }//nav
  
	.hamburger{
		display: block;
	}
	.cross{
		margin-right: 10px;
  }
  
  
}//end of 767px media queries
  
 
// Landscape phones and down
@media (max-width: 480px) {
 
}
