.contact-form-title{
	display: flex;
	flex-direction: column;
	padding: 5% 0;
	.logo{
		width: 60%;
		margin: 0 auto;
		img{
			width: 100%;
		}
	}
	.contact-email{
		display:flex;
		justify-content: space-around;
		align-items: center;
		.info{
			display: flex;
			flex-direction: column;
			align-items: center;
			a{
				text-decoration: none;
				color: $nextDarkGrey;
			}
		}
	}
}
.modalDialog{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.contact-wrapper{
	width: 60%;
    position: relative;
    margin: 5% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: $nextWhite;
	.logo{
		width: 70%;
		margin: 3% auto;

		img{
			width: 100%;
		}
	}
	form{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		input[type="text"]{
			width: 30%;
			padding: 1%;
			@include responsive-font(1.5vw, 12px, 16px);
			border:1px solid darken($nextBlue, 10%);
		}
		input[type="text"]:focus{
			border: 1px solid $nextDarkBlue;
			outline: none;
		}
		.service-check-title{
			width: 100%;
			text-align: center;
			@include responsive-font(1.5vw, 12px, 16px);
			color: $nextDarkGrey;
			margin: 2% auto;
			text-transform: uppercase;
		}
		.checkbox-wrap{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			width: 100%;
			.list-item{
				text-align: center;
				.list-item-title{
					@include responsive-font(1.5vw, 12px, 16px);
					text-align: center;
					color: $nextDarkGrey;
					text-transform: uppercase;
				}
			}
		}
		textarea{
			width: 100%;
			margin: 2% 0;
			height: 100px;
			@include responsive-font(1.5vw, 12px, 18px);
			border:1px solid darken($nextBlue, 10%);
			padding: 2%;

		}
		textarea:focus{
			border: 1px solid $nextDarkBlue;
			outline: none;
		}
		input[type="submit"]{
			width: 40%;
			padding: 2%;
		    color: $nextWhite;
		    letter-spacing: 1px;
		    text-transform: uppercase;
		    text-align: center;
		    background: $nextBlue;
		    border:1px solid darken($nextBlue, 10%);
		    @include responsive-font(1vw, 10px, 16px);
		}
		input[type="submit"]:focus{
			background: darken($nextBlue, 20%);
			color: white;
			border:none;
			outline: none;
		}
		input[type="submit"]:hover{
			background: darken($nextBlue, 10%);
			color: $nextWhite;
			border:1px solid darken($nextBlue, 10%);
			 -o-transition:.5s;
			-o-transition: background 0.7s linear;
			-moz-transition: background 0.7s linear;
			-khtml-transition: background 0.7s linear;
			-webkit-transition: background 0.7s linear;
			-ms-transition: background 0.7s linear;
			transition: background 0.7s linear;
		}


	}
}


.close, #Modal-hide {
    // background: darken($nextWhite, 10%);
    line-height: 20px;
    position: absolute;
    right: 3px;
    text-align: center;
    top: 3px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    // -webkit-border-radius: 12px;
    // -moz-border-radius: 12px;
    // border-radius: 12px;
    // -moz-box-shadow: 1px 1px 3px #000;
    // -webkit-box-shadow: 1px 1px 3px #000;
    // box-shadow: 1px 1px 3px #000;
}
.close:hover {
    color: $nextBlue;
}
.openmodal{
    position:relative;
}


// All Media Queries

// Landscape phones and tablet
@media (max-width: 767px) {

	.contact-form-title{
	display: flex;
	flex-direction: column;
	padding: 5% 0;
	.logo{
		width: 60%;
		margin: 0 auto;
		img{
			width: 100%;
		}
	}
	.contact-email{
			flex-direction: column;
			padding: 5% 0;
	}
}
	.contact-wrapper{
	width: 80%;

	form{

		input[type="text"]{
			width: 100%;
			margin-bottom: 10px;
		}
	
	


	}
}
    
}
 
// Landscape phones and down
@media (max-width: 480px) {
 
}

//Contact Page area
.contact-main-content{
	background: $nextWhite;
	padding: 1% 0 5% 0;
}

.contact-wrapper-page{
	width: 100%;
    position: relative;
    margin: 5% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: $nextWhite;
	h2{
		font-family: 'Taviraj', serif;
		@include responsive-font(2.5vw, 18px, 42px);
		line-height: 1;
		font-style: italic;
		text-align: center;
		// margin: 0 0 7% 0;
	}
	form{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		input[type="text"]{
			width: 30%;
			padding: 2%;
			@include responsive-font(1.5vw, 12px, 18px);
			border:2px solid darken($nextBlue, 10%);
		}
		input[type="text"]:focus{
			border: 2px solid $nextDarkBlue;
			outline: none;
		}
		.service-check-title{
			width: 100%;
			text-align: center;
			@include responsive-font(2vw, 14px, 20px);
			color: $nextDarkGrey;
			margin: 2% auto;;
		}
		.checkbox-wrap{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			width: 100%;
			.list-item{
				text-align: center;
				.list-item-title{
					@include responsive-font(1.5vw, 12px, 18px);
					text-align: center;
					color: $nextDarkGrey;

				}
			}
		}
		textarea{
			width: 100%;
			margin: 2% 0;
			height: 100px;
			@include responsive-font(1.5vw, 12px, 18px);
			border:2px solid darken($nextBlue, 10%);
			padding: 2%;
		}
		textarea:focus{
			border: 2px solid $nextDarkBlue;
			outline: none;
		}
		input[type="submit"]{
			width: 40%;
			padding: 2%;
		    color: $nextWhite;
		    letter-spacing: 1px;
		    text-transform: uppercase;
		    text-align: center;
		    background: $nextBlue;
		    border:1px solid darken($nextBlue, 10%);
		    @include responsive-font(1vw, 10px, 16px);
		}
		input[type="submit"]:focus{
			background: darken($nextBlue, 20%);
			color: white;
			border:none;
			outline: none;
		}
		input[type="submit"]:hover{
			background: darken($nextBlue, 10%);
			color: $nextWhite;
			border:1px solid darken($nextBlue, 10%);
			 -o-transition:.5s;
			-o-transition: background 0.7s linear;
			-moz-transition: background 0.7s linear;
			-khtml-transition: background 0.7s linear;
			-webkit-transition: background 0.7s linear;
			-ms-transition: background 0.7s linear;
			transition: background 0.7s linear;
		}


	}
}




// All Media Queries

// Landscape phones and tablet
@media (max-width: 767px) {
	.contact-wrapper-page{
	width: 100%;

	form{

		input[type="text"]{
			width: 100%;
			margin-bottom: 10px;
		}
	
	


	}
}
    
}
 
// Landscape phones and down
@media (max-width: 480px) {
 
}







