.service-header{
	height: 80vh;
	background: linear-gradient(rgba(175,202,217,0.7), rgba(175,202,217,0.7)),
                rgba(175,202,217,0.7) url("/images/background_02.jpg") no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	.service-title-header{
		width: 100%;
		height: 70%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 97;
		img{
			width: 25%;
			margin: 0 auto;
		}
		.tagline{
			@include responsive-font(2.5vw, 16px, 22px);
			width: 70%;
			margin: 0 auto;
			text-align: center;
			font-weight: 700;
			color: $nextDarkGrey;
		}
		
	}
}




.service-page-wrapper{
	padding: 10% 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.service-page-item{
		display: flex;
		flex-direction: column;
		// justify-content: center;
		align-items: center;
		width: 40%;
		margin: 0 auto;
		padding: 5% 0 10% 0;
		.service-pic{
			width: 200px;
			height: 200px;
			border-radius: 50%;
		}
		.pic-1{
			background: linear-gradient(rgba(50,140,193,0.2), rgba(50,140,193,0.2)),
                rgba(50,140,193,0.2) url("/images/service-decluttering.jpg") no-repeat center;
			background-size: cover;
		}

		.pic-2{
			background: linear-gradient(rgba(50,140,193,0.2), rgba(50,140,193,0.2)),
                rgba(50,140,193,0.2) url("/images/service-staging.jpg") no-repeat center;
			background-size: cover;
		}
	
		.pic-3{
			background: linear-gradient(rgba(50,140,193,0.2), rgba(50,140,193,0.2)),
                rgba(50,140,193,0.2) url("/images/service-packing.jpg") no-repeat center;
			background-size: cover;
		}
		
		.pic-4{
			background: linear-gradient(rgba(50,140,193,0.2), rgba(50,140,193,0.2)),
                rgba(50,140,193,0.2) url("/images/background_03.jpg") no-repeat center;
			background-size: cover;
		}
	
		.pic-5{
			background: linear-gradient(rgba(50,140,193,0.2), rgba(50,140,193,0.2)),
                rgba(50,140,193,0.2) url("/images/service-moving.jpg") no-repeat center;
			background-size: cover;
		}
		
		.pic-6{
			background:linear-gradient(rgba(50,140,193,0.2), rgba(50,140,193,0.2)),
                rgba(50,140,193,0.2) url("/images/background_02.jpg") no-repeat center;
			background-size: cover;

		}
		
		.service-title{
			text-decoration: none;
			text-transform: uppercase;
			color: $nextBlack;
			text-align: center;
			margin: 20px 0 20px 0;
			@include responsive-font(1.5vw, 14px, 24px);
		}
		.service-desc{
			@include responsive-font(1.2vw, 12px, 22px);
			text-align: center;
			margin: 0 auto;
			width: 80%;
		}
	}
}

// All Media Queries

// Landscape phones and tablet
@media (max-width: 767px) {

	.service-header{
		height: 60vh;
		.service-title-header{
			img{
				margin: 0 auto;
			}
		
		}
	}
	.service-page-wrapper{
		.service-page-item{
			.service-pic{
					width: 150px;
					height: 150px;
			}
		}
	}
    
}
 
// Landscape phones and down
@media (max-width: 480px) {

	.service-header{
		height: 60vh;
		.service-title-header{
			img{
				width: 40%;
				margin: 0 auto;
			}
		
		}
	}

	.service-page-wrapper{
		.service-page-item{
			.service-pic{
				width: 120px;
				height: 120px;
			}
		}
	}
 
}