.faq{
	background: $nextWhite;
	padding: 10% 0;
}

.faq-items{
	display: flex;
	flex-direction: column;
	.faq-item{
		display: flex;
		flex-direction: column;
		padding: 5% 0;
		.question{
			font-family: 'Taviraj', serif;
			@include responsive-font(2vw, 20px, 42px);
			line-height: 1;
			font-style: italic;
			.blue{
				color: $nextBlue;
			}
		}
		.answer{
			@include responsive-font(1.3vw, 12px, 28px);	
		}

	}
}