#services{
	padding: 5% 0;
	background: linear-gradient(rgba($nextBlue,0.9), rgba($nextBlue,0.9)),rgba($nextBlue,0.9) url("/images/background_04.jpg") no-repeat 50% 50%;background-size: cover;

	h2{
		color: $nextWhite;
		font-family: $secondaryFont;
		font-weight: 700;
		text-transform: uppercase;
		font-style: normal;
	}
	h4{
		width: 100%;
		text-align: center;
		font-size: 2em;
		a{
			color: $nextWhite;
			font-style: italic;

		}
	}
	.service-item{
		display: flex;
		flex-direction: column;
		// justify-content: center;
		align-items: center;
		width: 31%;
		height: auto;
		position: relative;
		margin: 10px auto;
		border: 4px solid $nextWhite;
		img{
			width: 100%;
			height: auto;
		}
		.info{
			background: rgba($nextDarkGrey, 0.9);
			color: $nextWhite;
			text-align: center;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 2% 0;
			h3{
				font-family: $secondaryFont;
				font-weight: 600;
				margin: 0;
			}
			.toggle{
				display: none;
				// visibility: hidden;
				// opacity: 0;
				-webkit-transition: display 7s;
				transition: display 7s;
				.type{
					background: $nextWhite;
					color: black;
					padding: 3px 5px;
					text-transform: uppercase;
					margin: 5px;
					font-size: 0.7em;
				}
			}
		}
		// .info:hover, .info:focus, .info:active {
		// 	.toggle{
		// 		// opacity: 1;
		// 		// visibility: visible;
		// 		display: block;
		// 	}
		// }
	}
}

// All Media Queries

// Landscape phones and tablet
@media (max-width: 768px) {
	#services{
		.service-item{
			width: 48%;
		}
	}
}
// Landscape phones and down
@media (max-width: 480px) {

	#services{
		.service-item{
			width: 90%;
		}
	}
}
