#team{
	background: black;
	.wrapper{
		padding: 5% 0;
		h2{
			color: $nextWhite;
			font-family: $secondaryFont;
			text-transform: uppercase;
			font-style: normal;
			font-weight: 700;
		}
		.team-members{
			align-items: stretch;
			align-content: stretch;
			.team-member{
				width: 49%;
				padding: 2%;
				background: $nextBlue;
				color: $nextWhite;
				margin-bottom: 20px;
				.info{
					width: 100%;
					text-align: center;
					.name, .title{
						text-transform: uppercase;
						font-size: 1.3em;
						font-weight: 700;
						font-family: $secondaryFont;
						margin: 0;
					}
					.title{
						font-size: 1em;
					}
					a{
						display: block;
						color: $nextWhite;
					}
					a:hover{
						color: $nextLightGrey;
					}
				}
			}
			.clare{
				width: 100%;
				img{
					width: 25%;
					height: auto;
					border-radius: 50%;
				}
				.info{
					width: 70%;
					text-align: left;
				}
			}
			.cathy{
				// margin-right: 20px;
			} 
		}
	}
}


// All Media Queries


// Landscape phones and tablet
@media (max-width: 768px) {

	#team{
		.wrapper{
			.team-members{
				.team-member{
					width: 100%;
					.info{
						.name, .title{
							text-transform: uppercase;
							font-size: 1.3em;
						}
						.title{
							font-size: 1em;
						}
					}
				}
				.clare{
					img{
						width: 40%;
						display: block;
						margin: 0 auto;
					}
					.info{
						width: 60%;
						text-align: center;
					}
				}
			}
		}
	}

}
 
// Landscape phones and down
@media (max-width: 480px) {

	#team{
		.wrapper{
			.team-members{
				.team-member{
					width: 100%;
					.info{
						.name, .title{
							text-transform: uppercase;
							font-size: 1.3em;
						}
						.title{
							font-size: 1em;
						}
					}
				}
				.clare{
					img{
						width: 60%;
						display: block;
						margin: 0 auto;
					}
					.info{
						width: 100%;
						text-align: center;
					}
				}
			}
		}
	}

}

