#testimonials{
	background:lighten(lightgrey, 10%);
	padding: 5% 0;
	.wrapper{
		h2{
			font-family: $secondaryFont;
			text-transform: uppercase;
			font-style: normal;
			font-weight: 700;
		}
		#carousel {
			position: relative;
			width: 100%;
			max-width: 900px;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			#slides {
				overflow: hidden;
				position: relative;
				width: 80%;
				margin: 0 auto;
				ul {
					list-style: none;
					width:100%;
					margin: 0;
					padding: 0;
					position: relative;
					.slide {
						width:100%;
						float:left;
						text-align: center;
						flex-direction: column;
						justify-content: flex-end;
						.before-after{
							width: 80%;
							justify-content: center;
							height: 150px;
							margin: 0 auto;
							img{
								width: 49%;
								height: auto;
								margin-right: 1%;
							}
						}
						.quote-phrase{
							font-size: 1em;
							display: flex;
							align-items: flex-end;
						}
						.quote-author, .author-credits{
							width: 100%;
							color: $nextBlue;
							font-weight: 600;
							text-transform: uppercase;
							margin: 0;
						}
						.author-credits{
							color: $nextBlack;
						}
					}
			
				}
			}
		}
		
	}
}
#slide-buttons{
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
}


// All Media Queries

// Landscape phones and tablet
@media (max-width: 767px) {
    
}
 
// Landscape phones and down
@media (max-width: 480px) {

	#testimonials{
		background:lighten(lightgrey, 10%);
		padding: 5% 0;
		.wrapper{
			#carousel {
				#slides {
					width: 95%;
					ul {
						.slide {
							.before-after{
								height: 150px;
							}
							.quote-phrase, .quote-author, .author-credits{
								font-size: 0.8em;
							}
						}
					}
				}
			}
		}
	}
 
}

