$nextWhite: #f4f4f4;
$nextBlue: #01a7e3;
$nextLightBlue: lighten($nextBlue, 2%);
$nextDarkBlue: darken($nextBlue, 15%);
$nextBlack: #1d2731;
$nextDarkGrey: #414042;

// font-family: 'Taviraj', serif;
// font-family: 'Raleway', sans-serif;

