article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.limit-min-max {
  font-size: 3vw;
}

@media (max-width: 666.66667px) {
  .limit-min-max {
    font-size: 20px;
  }
}

@media (min-width: 1666.66667px) {
  .limit-min-max {
    font-size: 50px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 15vh;
  width: 100%;
}

.nav .navigation {
  padding: 5%;
  width: 100%;
}

.nav .navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .navigation ul li {
  list-style: none;
  margin-right: 5%;
  text-transform: uppercase;
  font-size: 1vw;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .nav .navigation ul li {
    font-size: 12px;
  }
}

@media (min-width: 2200px) {
  .nav .navigation ul li {
    font-size: 22px;
  }
}

.nav .navigation ul li a {
  text-decoration: none;
  color: #1d2731;
  font-family: 'Muli', sans-serif;
}

.nav .navigation ul li a:hover {
  color: #01a7e3;
}

.mobile-menu {
  display: none;
}

.mini-navigation {
  width: 100%;
  margin: -5px 0 0 0;
  background: #f4f4f4;
}

.mini-navigation ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

.mini-navigation ul li {
  padding: 7px 0;
  list-style: none;
  border-bottom: 0.5px solid #01a7e3;
  text-align: center;
  width: 100%;
  background: #f4f4f4;
}

.mini-navigation ul li a {
  text-decoration: none;
  font-size: 3vw;
  color: #1d2731;
}

@media (max-width: 466.66667px) {
  .mini-navigation ul li a {
    font-size: 14px;
  }
}

@media (min-width: 1400px) {
  .mini-navigation ul li a {
    font-size: 42px;
  }
}

.mini-navigation ul li a:hover {
  color: #01a7e3;
}

.mini-navigation ul .mobile-menu {
  margin-top: -50px;
}

@media (max-width: 767px) {
  .navigation.responsive {
    background: #f4f4f4;
    height: 15vh;
  }
  .navigation.responsive ul {
    justify-content: flex-end;
  }
  .navigation.responsive ul li {
    display: none;
  }
  .navigation.responsive ul li.mobile-menu {
    display: block;
    font-size: 4vw;
  }
}

@media (max-width: 767px) and (max-width: 600px) {
  .navigation.responsive ul li.mobile-menu {
    font-size: 24px;
  }
}

@media (max-width: 767px) and (min-width: 1200px) {
  .navigation.responsive ul li.mobile-menu {
    font-size: 48px;
  }
}

@media (max-width: 767px) {
  .navigation.responsive ul li.mobile-menu a {
    padding-left: 24px;
  }
  .navigation.responsive ul li.mobile-menu:hover {
    border-radius: 4px 0 0 4px;
  }
}

.header {
  height: 90vh;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(211, 211, 211, 0.8)), rgba(211, 211, 211, 0.8) url("/images/background_01.jpg") no-repeat 50% 50%;
  background-size: cover;
  overflow-y: scroll;
}

.header .title-header {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .title-header img {
  width: 20%;
  height: auto;
  margin: 0 auto;
}

.header .title-header .tagline {
  font-size: 2.5vw;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  color: #414042;
}

@media (max-width: 640px) {
  .header .title-header .tagline {
    font-size: 16px;
  }
}

@media (min-width: 880px) {
  .header .title-header .tagline {
    font-size: 22px;
  }
}

.header .title-header .tagline-2 {
  font-size: 2vw;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 5% 0 0 0;
  font-weight: 400;
  color: #414042;
  text-transform: uppercase;
}

@media (max-width: 700px) {
  .header .title-header .tagline-2 {
    font-size: 14px;
  }
}

@media (min-width: 1000px) {
  .header .title-header .tagline-2 {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .header {
    height: 75vh;
    background-attachment: static;
  }
  .header .title-header {
    height: 80%;
  }
  .header .title-header img {
    width: 90%;
  }
  .header .title-header .tagline {
    width: 80%;
  }
}

.about {
  background-color: #f4f4f4;
  display: flex;
}

.about-wrapper {
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-wrapper h2 {
  font-family: 'Taviraj', serif;
  font-size: 4vw;
  line-height: 1;
  font-style: italic;
  width: 70%;
}

@media (max-width: 750px) {
  .about-wrapper h2 {
    font-size: 30px;
  }
}

@media (min-width: 2000px) {
  .about-wrapper h2 {
    font-size: 80px;
  }
}

.about-wrapper h2 .blue {
  color: #01a7e3;
}

.about-wrapper .about-text {
  font-size: 1.3vw;
  font-weight: 500;
}

@media (max-width: 923.07692px) {
  .about-wrapper .about-text {
    font-size: 12px;
  }
}

@media (min-width: 2153.84615px) {
  .about-wrapper .about-text {
    font-size: 28px;
  }
}

.about-wrapper .about-text .highlight {
  font-size: 1.8vw;
  text-align: center;
}

@media (max-width: 888.88889px) {
  .about-wrapper .about-text .highlight {
    font-size: 16px;
  }
}

@media (min-width: 1777.77778px) {
  .about-wrapper .about-text .highlight {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .about-wrapper {
    padding: 20% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about-wrapper h2 {
    font-family: 'Taviraj', serif;
    font-size: 4vw;
    line-height: 1;
    font-style: italic;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 767px) and (max-width: 750px) {
  .about-wrapper h2 {
    font-size: 30px;
  }
}

@media (max-width: 767px) and (min-width: 2000px) {
  .about-wrapper h2 {
    font-size: 80px;
  }
}

@media (max-width: 767px) {
  .about-wrapper h2 .blue {
    color: #01a7e3;
  }
  .about-wrapper .about-text {
    font-size: 1.3vw;
    text-align: center;
  }
}

@media (max-width: 767px) and (max-width: 923.07692px) {
  .about-wrapper .about-text {
    font-size: 12px;
  }
}

@media (max-width: 767px) and (min-width: 2153.84615px) {
  .about-wrapper .about-text {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .about-wrapper .about-text .highlight {
    font-size: 1.8vw;
    text-align: center;
  }
}

@media (max-width: 767px) and (max-width: 888.88889px) {
  .about-wrapper .about-text .highlight {
    font-size: 16px;
  }
}

@media (max-width: 767px) and (min-width: 1777.77778px) {
  .about-wrapper .about-text .highlight {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .about-wrapper .buttons {
    width: 100%;
  }
  .about-wrapper .buttons button {
    font-family: 'Taviraj', serif;
    font-weight: 300;
    font-style: italic;
    background: #01a7e3;
    border: 0;
    outline: 0;
    color: #f4f4f4;
    font-size: 1.5vw;
    padding: 10px 0;
    width: 30%;
    border-radius: 10px;
    margin: 5% 3%;
    transition: all 0.5s ease 0s;
  }
}

@media (max-width: 767px) and (max-width: 600px) {
  .about-wrapper .buttons button {
    font-size: 9px;
  }
}

@media (max-width: 767px) and (min-width: 800px) {
  .about-wrapper .buttons button {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .about-wrapper .buttons button .button {
    text-decoration: none;
    color: #f4f4f4;
  }
  .about-wrapper .buttons button:hover {
    background: #0182b0;
    color: #f4f4f4;
    outline: 0;
  }
  .about-wrapper .buttons button:active {
    background: #004a64;
  }
}

.free-consultation {
  background: linear-gradient(rgba(50, 140, 193, 0.6), rgba(50, 140, 193, 0.6)), rgba(50, 140, 193, 0.6) url("/images/background_04.jpg") no-repeat 50% 50%;
  background-size: cover;
  padding: 10% 0;
  margin: 0;
  overflow-y: scroll;
}

.consult-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.consult-wrapper h2 {
  color: #f4f4f4;
  font-family: 'Taviraj', serif;
  font-size: 4vw;
  font-style: italic;
  text-align: center;
  width: 70%;
  margin: 0;
}

@media (max-width: 750px) {
  .consult-wrapper h2 {
    font-size: 30px;
  }
}

@media (min-width: 2000px) {
  .consult-wrapper h2 {
    font-size: 80px;
  }
}

.consult-wrapper p {
  font-size: 1.3vw;
  color: #f4f4f4;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

@media (max-width: 923.07692px) {
  .consult-wrapper p {
    font-size: 12px;
  }
}

@media (min-width: 2153.84615px) {
  .consult-wrapper p {
    font-size: 28px;
  }
}

.consult-wrapper .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.consult-wrapper .buttons button {
  font-family: 'Taviraj', serif;
  font-weight: 300;
  font-style: italic;
  background: #f4f4f4;
  border: 0;
  outline: 0;
  color: #01a7e3;
  font-size: 1.5vw;
  padding: 10px 0;
  width: 30%;
  border-radius: 10px;
  margin: 5% 3%;
  transition: all 0.5s ease 0s;
}

@media (max-width: 733.33333px) {
  .consult-wrapper .buttons button {
    font-size: 11px;
  }
}

@media (min-width: 933.33333px) {
  .consult-wrapper .buttons button {
    font-size: 14px;
  }
}

.consult-wrapper .buttons button .button {
  text-decoration: none;
  color: #01a7e3;
}

.consult-wrapper .buttons button:hover {
  background: #01a7e3;
  color: #f4f4f4;
  outline: 0;
}

.consult-wrapper .buttons button:hover .button:hover {
  color: #f4f4f4;
}

.consult-wrapper .buttons button:active {
  background: #004a64;
}

@media (max-width: 767px) {
  .free-consultation {
    background-size: auto;
  }
  .free-consultation {
    padding: 20% 0;
  }
}

#carousel {
  position: relative;
  width: 100%;
  padding: 15% 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#slides {
  overflow: hidden;
  position: relative;
  width: 70%;
  margin: 0 auto;
  margin-top: -15%;
}

#slides ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

#slides ul li {
  width: 100%;
  float: left;
  text-align: center;
  position: relative;
}

/* Styling for prev and next buttons */
.btn-bar {
  width: 100%;
  margin-top: 10%;
}

#buttons {
  padding: 0 0 5px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#buttons a {
  text-align: center;
  display: block;
  font-size: 1.6vw;
  float: left;
  outline: 0;
  color: #f4f4f4;
  background: #01a7e3;
  text-decoration: none;
  display: block;
  padding: 9px;
}

@media (max-width: 1000px) {
  #buttons a {
    font-size: 16px;
  }
}

@media (min-width: 1625px) {
  #buttons a {
    font-size: 26px;
  }
}

a#prev:hover, a#next:hover {
  color: #0194ca;
}

.quote-phrase, .quote-author {
  font-family: sans-serif;
  font-weight: 300;
  display: table-cell;
  vertical-align: middle;
  padding: 5px 20px;
}

.quote-phrase {
  font-size: 1.8vw;
  font-weight: 500;
  color: #016f97;
}

@media (max-width: 888.88889px) {
  .quote-phrase {
    font-size: 16px;
  }
}

@media (min-width: 1666.66667px) {
  .quote-phrase {
    font-size: 30px;
  }
}

.quote-marks {
  font-size: 1.6vw;
  padding: 0 3px 3px;
  position: inherit;
  color: #016f97;
}

@media (max-width: 1000px) {
  .quote-marks {
    font-size: 16px;
  }
}

@media (min-width: 1625px) {
  .quote-marks {
    font-size: 26px;
  }
}

.quote-author {
  font-size: 1.6vw;
  height: 30px;
  color: #016f97;
}

@media (max-width: 1000px) {
  .quote-author {
    font-size: 16px;
  }
}

@media (min-width: 1625px) {
  .quote-author {
    font-size: 26px;
  }
}

.quoteContainer, .authorContainer {
  display: table;
  width: 100%;
}

@media (max-width: 767px) {
  #carousel {
    padding: 15% 0 0 0;
  }
  #slides {
    width: 90%;
    margin-top: -30%;
  }
}

.team {
  background: #f4f4f4;
}

.team-container {
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-container h2 {
  font-family: 'Taviraj', serif;
  font-size: 2.5vw;
  font-style: italic;
}

@media (max-width: 960px) {
  .team-container h2 {
    font-size: 24px;
  }
}

@media (min-width: 1600px) {
  .team-container h2 {
    font-size: 40px;
  }
}

.team-container .team-members {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team-container .team-members .team-member {
  width: 40%;
}

.team-container .team-members .team-member .profile {
  background: url("/images/profile-joan-2.jpg") no-repeat center;
  background-size: cover;
  width: 80%;
  margin: 0 auto;
  height: 300px;
}

.team-container .team-members .team-member .profile-2 {
  background: url("/images/profile-clare.JPG") no-repeat center;
  background-size: cover;
  width: 80%;
  margin: 0 auto;
  height: 300px;
}

.team-container .team-members .team-member .name {
  background: #01a7e3;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
  font-weight: 300;
  color: #016f97;
  margin-top: -5%;
  font-size: 1.5vw;
}

@media (max-width: 933.33333px) {
  .team-container .team-members .team-member .name {
    font-size: 14px;
  }
}

@media (min-width: 1600px) {
  .team-container .team-members .team-member .name {
    font-size: 24px;
  }
}

.team-container .team-members .team-member .title {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
  font-weight: 300;
  color: #016f97;
  font-size: 1vw;
}

@media (max-width: 1000px) {
  .team-container .team-members .team-member .title {
    font-size: 10px;
  }
}

@media (min-width: 1800px) {
  .team-container .team-members .team-member .title {
    font-size: 18px;
  }
}

.team-container .team-members .team-member .bio {
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
  font-weight: 300;
  color: #016f97;
  font-size: 1.2vw;
}

@media (max-width: 1000px) {
  .team-container .team-members .team-member .bio {
    font-size: 12px;
  }
}

@media (min-width: 1833.33333px) {
  .team-container .team-members .team-member .bio {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .team-container .team-members .team-member .profile {
    height: 200px;
    width: 100%;
  }
  .team-container .team-members .team-member .profile-2 {
    height: 200px;
    width: 100%;
  }
  .team-container .team-members .team-member .name {
    width: 90%;
  }
  .team-container .team-members .team-member .title {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .team-container .team-members .team-member {
    width: 80%;
  }
}

.service-wrapper {
  padding: 10% 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-wrapper .service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 0 auto;
}

.service-wrapper .service-item .service-pic {
  width: 170px;
  height: 170px;
  border-radius: 50%;
}

.service-wrapper .service-item .pic-1 {
  background: linear-gradient(rgba(50, 140, 193, 0.2), rgba(50, 140, 193, 0.2)), rgba(50, 140, 193, 0.2) url("/images/service-decluttering.jpg") no-repeat center;
  background-size: cover;
}

.service-wrapper .service-item .pic-2 {
  background: linear-gradient(rgba(50, 140, 193, 0.2), rgba(50, 140, 193, 0.2)), rgba(50, 140, 193, 0.2) url("/images/service-staging.jpg") no-repeat center;
  background-size: cover;
}

.service-wrapper .service-item .pic-3 {
  background: linear-gradient(rgba(50, 140, 193, 0.2), rgba(50, 140, 193, 0.2)), rgba(50, 140, 193, 0.2) url("/images/service-packing.jpg") no-repeat center;
  background-size: cover;
}

.service-wrapper .service-item .pic-4 {
  background: linear-gradient(rgba(50, 140, 193, 0.2), rgba(50, 140, 193, 0.2)), rgba(50, 140, 193, 0.2) url("/images/background_03.jpg") no-repeat center;
  background-size: cover;
}

.service-wrapper .service-item .pic-5 {
  background: linear-gradient(rgba(50, 140, 193, 0.2), rgba(50, 140, 193, 0.2)), rgba(50, 140, 193, 0.2) url("/images/service-moving.jpg") no-repeat center;
  background-size: cover;
}

.service-wrapper .service-item .pic-6 {
  background: linear-gradient(rgba(50, 140, 193, 0.2), rgba(50, 140, 193, 0.2)), rgba(50, 140, 193, 0.2) url("/images/background_02.jpg") no-repeat center;
  background-size: cover;
}

.service-wrapper .service-item .service-title {
  text-decoration: none;
  color: #1d2731;
  text-align: center;
  margin: 20px 0 40px 0;
  font-size: 1.5vw;
  letter-spacing: 2px;
}

@media (max-width: 933.33333px) {
  .service-wrapper .service-item .service-title {
    font-size: 14px;
  }
}

@media (min-width: 1600px) {
  .service-wrapper .service-item .service-title {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .service-wrapper .service-item {
    width: 45%;
  }
  .service-wrapper .service-item .service-pic {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 480px) {
  .service-wrapper .service-item .service-pic {
    width: 90px;
    height: 90px;
  }
}

.footer-consultation {
  background: #01a7e3;
}

.consult-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.consult-container h4 {
  font-size: 1.5vw;
  color: #f4f4f4;
  font-family: 'Taviraj', serif;
  font-weight: 300;
  width: 70%;
}

@media (max-width: 800px) {
  .consult-container h4 {
    font-size: 12px;
  }
}

@media (min-width: 1866.66667px) {
  .consult-container h4 {
    font-size: 28px;
  }
}

.consult-container .buttons {
  width: 30%;
}

.consult-container .buttons button {
  background: #f4f4f4;
  border: 0;
  outline: 0;
  padding: 10px 15px;
  width: 100%;
  border-radius: 5px;
  margin: 5% 3%;
  transition: all 0.5s ease 0s;
}

.consult-container .buttons button a {
  font-family: 'Taviraj', serif;
  font-weight: 300;
  font-style: italic;
  text-decoration: none;
  font-size: 1vw;
  color: #01a7e3;
  letter-spacing: 1px;
}

@media (max-width: 1000px) {
  .consult-container .buttons button a {
    font-size: 10px;
  }
}

@media (min-width: 2600px) {
  .consult-container .buttons button a {
    font-size: 26px;
  }
}

.consult-container .buttons button:hover {
  background: #016f97;
  color: #f4f4f4;
  outline: 0;
}

.consult-container .buttons button:hover a:hover {
  color: #f4f4f4;
}

.consult-container .buttons button:active {
  background: #016f97;
}

footer {
  background: #0194ca;
  width: 100%;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 0;
}

.footer p {
  font-size: 1vw;
  font-family: 'Taviraj', serif;
  font-weight: 300;
}

@media (max-width: 800px) {
  .footer p {
    font-size: 8px;
  }
}

@media (min-width: 1600px) {
  .footer p {
    font-size: 16px;
  }
}

.footer img {
  height: 70px;
  width: 70px;
}

.credits {
  background: #0189ba;
  height: 3vh;
}

.credits p {
  font-size: 0.8vw;
  text-align: center;
}

@media (max-width: 1000px) {
  .credits p {
    font-size: 8px;
  }
}

@media (min-width: 1500px) {
  .credits p {
    font-size: 12px;
  }
}

.credits p a {
  text-decoration: none;
  color: #414042;
}

@media (max-width: 767px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0;
  }
  .footer p {
    font-size: 1vw;
    font-family: 'Taviraj', serif;
    font-weight: 300;
  }
}

@media (max-width: 767px) and (max-width: 800px) {
  .footer p {
    font-size: 8px;
  }
}

@media (max-width: 767px) and (min-width: 1600px) {
  .footer p {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .footer img {
    height: 50px;
    width: 50px;
  }
}

.service-header {
  height: 80vh;
  background: linear-gradient(rgba(175, 202, 217, 0.7), rgba(175, 202, 217, 0.7)), rgba(175, 202, 217, 0.7) url("/images/background_02.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.service-header .service-title-header {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 97;
}

.service-header .service-title-header img {
  width: 25%;
  margin: 0 auto;
}

.service-header .service-title-header .tagline {
  font-size: 2.5vw;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  color: #414042;
}

@media (max-width: 640px) {
  .service-header .service-title-header .tagline {
    font-size: 16px;
  }
}

@media (min-width: 880px) {
  .service-header .service-title-header .tagline {
    font-size: 22px;
  }
}

.service-page-wrapper {
  padding: 10% 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-page-wrapper .service-page-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: 0 auto;
  padding: 5% 0 10% 0;
}

.service-page-wrapper .service-page-item .service-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.service-page-wrapper .service-page-item .pic-1 {
  background: linear-gradient(rgba(50, 140, 193, 0.2), rgba(50, 140, 193, 0.2)), rgba(50, 140, 193, 0.2) url("/images/service-decluttering.jpg") no-repeat center;
  background-size: cover;
}

.service-page-wrapper .service-page-item .pic-2 {
  background: linear-gradient(rgba(50, 140, 193, 0.2), rgba(50, 140, 193, 0.2)), rgba(50, 140, 193, 0.2) url("/images/service-staging.jpg") no-repeat center;
  background-size: cover;
}

.service-page-wrapper .service-page-item .pic-3 {
  background: linear-gradient(rgba(50, 140, 193, 0.2), rgba(50, 140, 193, 0.2)), rgba(50, 140, 193, 0.2) url("/images/service-packing.jpg") no-repeat center;
  background-size: cover;
}

.service-page-wrapper .service-page-item .pic-4 {
  background: linear-gradient(rgba(50, 140, 193, 0.2), rgba(50, 140, 193, 0.2)), rgba(50, 140, 193, 0.2) url("/images/background_03.jpg") no-repeat center;
  background-size: cover;
}

.service-page-wrapper .service-page-item .pic-5 {
  background: linear-gradient(rgba(50, 140, 193, 0.2), rgba(50, 140, 193, 0.2)), rgba(50, 140, 193, 0.2) url("/images/service-moving.jpg") no-repeat center;
  background-size: cover;
}

.service-page-wrapper .service-page-item .pic-6 {
  background: linear-gradient(rgba(50, 140, 193, 0.2), rgba(50, 140, 193, 0.2)), rgba(50, 140, 193, 0.2) url("/images/background_02.jpg") no-repeat center;
  background-size: cover;
}

.service-page-wrapper .service-page-item .service-title {
  text-decoration: none;
  text-transform: uppercase;
  color: #1d2731;
  text-align: center;
  margin: 20px 0 20px 0;
  font-size: 1.5vw;
}

@media (max-width: 933.33333px) {
  .service-page-wrapper .service-page-item .service-title {
    font-size: 14px;
  }
}

@media (min-width: 1600px) {
  .service-page-wrapper .service-page-item .service-title {
    font-size: 24px;
  }
}

.service-page-wrapper .service-page-item .service-desc {
  font-size: 1.2vw;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

@media (max-width: 1000px) {
  .service-page-wrapper .service-page-item .service-desc {
    font-size: 12px;
  }
}

@media (min-width: 1833.33333px) {
  .service-page-wrapper .service-page-item .service-desc {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  .service-header {
    height: 60vh;
  }
  .service-header .service-title-header img {
    margin: 0 auto;
  }
  .service-page-wrapper .service-page-item .service-pic {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 480px) {
  .service-header {
    height: 60vh;
  }
  .service-header .service-title-header img {
    width: 40%;
    margin: 0 auto;
  }
  .service-page-wrapper .service-page-item .service-pic {
    width: 120px;
    height: 120px;
  }
}

.contact-form-title {
  display: flex;
  flex-direction: column;
  padding: 5% 0;
}

.contact-form-title .logo {
  width: 60%;
  margin: 0 auto;
}

.contact-form-title .logo img {
  width: 100%;
}

.contact-form-title .contact-email {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-form-title .contact-email .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form-title .contact-email .info a {
  text-decoration: none;
  color: #414042;
}

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.contact-wrapper {
  width: 60%;
  position: relative;
  margin: 5% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #f4f4f4;
}

.contact-wrapper .logo {
  width: 70%;
  margin: 3% auto;
}

.contact-wrapper .logo img {
  width: 100%;
}

.contact-wrapper form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-wrapper form input[type="text"] {
  width: 30%;
  padding: 1%;
  font-size: 1.5vw;
  border: 1px solid #0182b0;
}

@media (max-width: 800px) {
  .contact-wrapper form input[type="text"] {
    font-size: 12px;
  }
}

@media (min-width: 1066.66667px) {
  .contact-wrapper form input[type="text"] {
    font-size: 16px;
  }
}

.contact-wrapper form input[type="text"]:focus {
  border: 1px solid #016f97;
  outline: none;
}

.contact-wrapper form .service-check-title {
  width: 100%;
  text-align: center;
  font-size: 1.5vw;
  color: #414042;
  margin: 2% auto;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .contact-wrapper form .service-check-title {
    font-size: 12px;
  }
}

@media (min-width: 1066.66667px) {
  .contact-wrapper form .service-check-title {
    font-size: 16px;
  }
}

.contact-wrapper form .checkbox-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.contact-wrapper form .checkbox-wrap .list-item {
  text-align: center;
}

.contact-wrapper form .checkbox-wrap .list-item .list-item-title {
  font-size: 1.5vw;
  text-align: center;
  color: #414042;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .contact-wrapper form .checkbox-wrap .list-item .list-item-title {
    font-size: 12px;
  }
}

@media (min-width: 1066.66667px) {
  .contact-wrapper form .checkbox-wrap .list-item .list-item-title {
    font-size: 16px;
  }
}

.contact-wrapper form textarea {
  width: 100%;
  margin: 2% 0;
  height: 100px;
  font-size: 1.5vw;
  border: 1px solid #0182b0;
  padding: 2%;
}

@media (max-width: 800px) {
  .contact-wrapper form textarea {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  .contact-wrapper form textarea {
    font-size: 18px;
  }
}

.contact-wrapper form textarea:focus {
  border: 1px solid #016f97;
  outline: none;
}

.contact-wrapper form input[type="submit"] {
  width: 40%;
  padding: 2%;
  color: #f4f4f4;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  background: #01a7e3;
  border: 1px solid #0182b0;
  font-size: 1vw;
}

@media (max-width: 1000px) {
  .contact-wrapper form input[type="submit"] {
    font-size: 10px;
  }
}

@media (min-width: 1600px) {
  .contact-wrapper form input[type="submit"] {
    font-size: 16px;
  }
}

.contact-wrapper form input[type="submit"]:focus {
  background: #015c7d;
  color: white;
  border: none;
  outline: none;
}

.contact-wrapper form input[type="submit"]:hover {
  background: #0182b0;
  color: #f4f4f4;
  border: 1px solid #0182b0;
  -o-transition: .5s;
  -o-transition: background 0.7s linear;
  -moz-transition: background 0.7s linear;
  -khtml-transition: background 0.7s linear;
  -webkit-transition: background 0.7s linear;
  -ms-transition: background 0.7s linear;
  transition: background 0.7s linear;
}

.close, #Modal-hide {
  line-height: 20px;
  position: absolute;
  right: 3px;
  text-align: center;
  top: 3px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
}

.close:hover {
  color: #01a7e3;
}

.openmodal {
  position: relative;
}

@media (max-width: 767px) {
  .contact-form-title {
    display: flex;
    flex-direction: column;
    padding: 5% 0;
  }
  .contact-form-title .logo {
    width: 60%;
    margin: 0 auto;
  }
  .contact-form-title .logo img {
    width: 100%;
  }
  .contact-form-title .contact-email {
    flex-direction: column;
    padding: 5% 0;
  }
  .contact-wrapper {
    width: 80%;
  }
  .contact-wrapper form input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
  }
}

.contact-main-content {
  background: #f4f4f4;
  padding: 1% 0 5% 0;
}

.contact-wrapper-page {
  width: 100%;
  position: relative;
  margin: 5% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #f4f4f4;
}

.contact-wrapper-page h2 {
  font-family: 'Taviraj', serif;
  font-size: 2.5vw;
  line-height: 1;
  font-style: italic;
  text-align: center;
}

@media (max-width: 720px) {
  .contact-wrapper-page h2 {
    font-size: 18px;
  }
}

@media (min-width: 1680px) {
  .contact-wrapper-page h2 {
    font-size: 42px;
  }
}

.contact-wrapper-page form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-wrapper-page form input[type="text"] {
  width: 30%;
  padding: 2%;
  font-size: 1.5vw;
  border: 2px solid #0182b0;
}

@media (max-width: 800px) {
  .contact-wrapper-page form input[type="text"] {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  .contact-wrapper-page form input[type="text"] {
    font-size: 18px;
  }
}

.contact-wrapper-page form input[type="text"]:focus {
  border: 2px solid #016f97;
  outline: none;
}

.contact-wrapper-page form .service-check-title {
  width: 100%;
  text-align: center;
  font-size: 2vw;
  color: #414042;
  margin: 2% auto;
}

@media (max-width: 700px) {
  .contact-wrapper-page form .service-check-title {
    font-size: 14px;
  }
}

@media (min-width: 1000px) {
  .contact-wrapper-page form .service-check-title {
    font-size: 20px;
  }
}

.contact-wrapper-page form .checkbox-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.contact-wrapper-page form .checkbox-wrap .list-item {
  text-align: center;
}

.contact-wrapper-page form .checkbox-wrap .list-item .list-item-title {
  font-size: 1.5vw;
  text-align: center;
  color: #414042;
}

@media (max-width: 800px) {
  .contact-wrapper-page form .checkbox-wrap .list-item .list-item-title {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  .contact-wrapper-page form .checkbox-wrap .list-item .list-item-title {
    font-size: 18px;
  }
}

.contact-wrapper-page form textarea {
  width: 100%;
  margin: 2% 0;
  height: 100px;
  font-size: 1.5vw;
  border: 2px solid #0182b0;
  padding: 2%;
}

@media (max-width: 800px) {
  .contact-wrapper-page form textarea {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  .contact-wrapper-page form textarea {
    font-size: 18px;
  }
}

.contact-wrapper-page form textarea:focus {
  border: 2px solid #016f97;
  outline: none;
}

.contact-wrapper-page form input[type="submit"] {
  width: 40%;
  padding: 2%;
  color: #f4f4f4;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  background: #01a7e3;
  border: 1px solid #0182b0;
  font-size: 1vw;
}

@media (max-width: 1000px) {
  .contact-wrapper-page form input[type="submit"] {
    font-size: 10px;
  }
}

@media (min-width: 1600px) {
  .contact-wrapper-page form input[type="submit"] {
    font-size: 16px;
  }
}

.contact-wrapper-page form input[type="submit"]:focus {
  background: #015c7d;
  color: white;
  border: none;
  outline: none;
}

.contact-wrapper-page form input[type="submit"]:hover {
  background: #0182b0;
  color: #f4f4f4;
  border: 1px solid #0182b0;
  -o-transition: .5s;
  -o-transition: background 0.7s linear;
  -moz-transition: background 0.7s linear;
  -khtml-transition: background 0.7s linear;
  -webkit-transition: background 0.7s linear;
  -ms-transition: background 0.7s linear;
  transition: background 0.7s linear;
}

@media (max-width: 767px) {
  .contact-wrapper-page {
    width: 100%;
  }
  .contact-wrapper-page form input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
  }
}

.faq {
  background: #f4f4f4;
  padding: 10% 0;
}

.faq-items {
  display: flex;
  flex-direction: column;
}

.faq-items .faq-item {
  display: flex;
  flex-direction: column;
  padding: 5% 0;
}

.faq-items .faq-item .question {
  font-family: 'Taviraj', serif;
  font-size: 2vw;
  line-height: 1;
  font-style: italic;
}

@media (max-width: 1000px) {
  .faq-items .faq-item .question {
    font-size: 20px;
  }
}

@media (min-width: 2100px) {
  .faq-items .faq-item .question {
    font-size: 42px;
  }
}

.faq-items .faq-item .question .blue {
  color: #01a7e3;
}

.faq-items .faq-item .answer {
  font-size: 1.3vw;
}

@media (max-width: 923.07692px) {
  .faq-items .faq-item .answer {
    font-size: 12px;
  }
}

@media (min-width: 2153.84615px) {
  .faq-items .faq-item .answer {
    font-size: 28px;
  }
}

.wrapper {
  width: 70%;
  max-width: 1100px;
  margin: 0 auto;
}

body {
  letter-spacing: 1.5px;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #414042;
}

h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.hidden {
  position: absolute;
  left: -999px;
}

.hidden:focus {
  left: 5px;
}

a.back-to-top {
  display: none;
  width: 60px;
  height: 60px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  background: #01a7e3;
  border: 1px solid #016f97;
  color: white;
  border-radius: 30px;
  text-decoration: none;
}

a.back-to-top .fa-angle-up {
  text-align: center;
  width: 60px;
  line-height: 0.8;
  height: 60px;
  font-size: 60px;
}

.jsColorShow {
  filter: none !important;
  filter: grayscale(0%);
}

@media (max-width: 800px) {
  .wrapper {
    width: 90%;
  }
}
