@import 'setup';
@import 'variables';
// @import 'responsiveFont';

@import 'nav';
@import 'header';
@import 'footer';

@import 'about';
@import 'consultation';
@import 'services';
@import 'testimonial';
@import 'team'; //bio-section
@import 'contact';




.wrapper{
	width: 90%;
	max-width: 1300px;
	margin: 0 auto;
}
body{
	letter-spacing:1.5px;
	line-height: 1.5;
	font-family: $secondaryFont;
	font-weight:500;
	color: $nextBlack;
}


//front-page-animation-class
.jsColorShow {
	filter: none!important;
	filter: grayscale(0%);
}








/*=================================
	Media Queries
==================================*/

// Landscape phones and tablet
@media (max-width: 768px) {
	// turn off wrapper margin 
	.wrapper{
		width: 95%;
	}
    
}
 
// Landscape phones and down
@media (max-width: 480px) {
 
}
